<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои домашние работы</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; max-width: 600px; margin: 50px auto; text-align: center; }
        .project-link { display: block; background: #f4f4f4; margin: 10px 0; padding: 20px; border-radius: 10px; text-decoration: none; color: #333; font-weight: bold; border: 1px solid #ddd; }
        .project-link:hover { background: #e2e2e2; }
    </style>
</head>
<body>
    <h1>Домашние задания</h1>
    <p>Выбор домашнего задания для просмотра:</p>

    <a href="/city/" class="project-link">Проект: Города (hellowebHW)</a>
    <a href="/sport/" class="project-link">Проект: Спортивный блог (sportblog)</a>
    <a href="/cars/" class="project-link">Проект: Автомобили (cars)</a>
    <a href="/day/" class="project-link">Проект: Какой сегодня день? (calendar_app)</a>

</body>
</html>
